<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157465765360-b2l6d65udo5j3octat4t0mkvj3f6mev9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157465765360-b2l6d65udo5j3octat4t0mkvj3f6mev9</string>
	<key>API_KEY</key>
	<string>AIzaSyBQZuCD3KkCq_OgN7IqfzaFhQdduezyQWg</string>
	<key>GCM_SENDER_ID</key>
	<string>157465765360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.farestrand.protectYourStock</string>
	<key>PROJECT_ID</key>
	<string>savemystock-3e70b</string>
	<key>STORAGE_BUCKET</key>
	<string>savemystock-3e70b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157465765360:ios:2289de69c1fa52380b2935</string>
</dict>
</plist>